@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Runescape Equipment Planner</h1>
    <p>A page that will help you view and test different equipment for the game <a target="_blank" href="https://oldschool.runescape.wiki/">OldSchool Runescape</a>.</p>
</div>

<form method="post" class="form">
    <div class="form-box mb-3 mt-3">
        <select name="SelectedIds">
            <option>Head Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Head").First().PositionId))
            {
                
                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Neck Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Neck").First().PositionId))
            {
                
                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Back Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Back").First().PositionId))
            {
                
                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Ammo Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Ammo").First().PositionId))
            {
                
                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Main Hand</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "MainHand").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Main two Hand</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Main2Hand").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Chest Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Chest").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Off Hand</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "OffHand").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Leg Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Legs").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Glove Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Gloves").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Foot Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Feet").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
        <select name="SelectedIds">
            <option>Ring Slot</option>
            @foreach (var item in Model.Equipment.Where(e => e.PositionId == Model.Positions.Where(e => e.PositionName == "Ring").First().PositionId))
            {

                <option selected="@Model.SelectedIds.Any(e => e == item.EquipmentId)" value="@item.EquipmentId">@item.Name</option>
            }
        </select>
    </div>
    <button type="submit">Submit</button>
</form>

@if(Model.Stats != null)
{
    <div>
        <p>Total Stab Value:</p><p>@Model.Stats.Stab</p>
        <p>Total Slash Value:</p><p>@Model.Stats.Slash</p>
        <p>Total Crush Value:</p><p>@Model.Stats.Crush</p>
        <p>Total Magic Value:</p><p>@Model.Stats.Magic</p>
        <p>Total Ranged Value:</p><p>@Model.Stats.Ranged</p>
        <p>Total Stab Defence Value:</p><p>@Model.Stats.StabDef</p>
        <p>Total Slash Defence Value:</p><p>@Model.Stats.SlashDef</p>
        <p>Total Crush Defence Value:</p><p>@Model.Stats.CrushDef</p>
        <p>Total Magic Defence Value:</p><p>@Model.Stats.MagicDef</p>
        <p>Total Ranged Defence Value:</p><p>@Model.Stats.RangedDef</p>
        <p>Total Strength Bonus Value:</p><p>@Model.Stats.StrengthBonus</p>
        <p>Total Magic Bonus Value:</p><p>@Model.Stats.MagicBonus</p>
        <p>Total Ranged Bonus Value:</p><p>@Model.Stats.RangedBonus</p>
        <p>Total Prayer Bonus Value:</p><p>@Model.Stats.PrayerBonus</p>
        <p>Does the weapon have a special attack:</p><p>@(Model.Stats.SpecialAttack ? "Yes" : "No" )</p>
    </div>
}
